@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');

.cUser {
    text-decoration: underline;
}

.logOut {
    float: left;
    width: 14%;
    height: 50px;
    text-align: right;
    padding-right: 1%;
    padding-top: 0.5%;

}

.logoDiv {
    float: left;
    /* background-color: red; */
    width: 16%;
}

.logoImage {
    width: 180px;
    padding: 6px;
}

.titleDiv {
    float: left;
    /* background-color: blue; */
    width: 70%;
    text-align: left;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
}

.userName {
    float: left;
    width: 14%;
    text-align: right;
    padding-right: 1%;
    height: 50px;
}

.mainDiv {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #707070;
    border: 3px solid;
}